# Ignore macOS system files
.DS_Store

# Ignore Git's own metadata folder
.git

# Ignore node_modules if you ever install npm packages
node_modules/

# Optionally, ignore any template folder inside testing if not needed
# /testing/template/
